.blockchain
  display: flex
  flex-direction: column 
  align-items: center

.blockchain option
  color: black

.blockchain-select
  position: relative
  display: block
  max-width: 40rem
  min-width: 18rem
  margin: 0 auto
  border: 1px solid $mint
  z-index: 10

.blockchain-input
  border: none
  outline: none
  background: transparent
  // -webkit-appearance: none
  // -moz-appearance: none
  // appearance: none
  border-radius: 0
  display: block
  width: 100%
  padding: 1.5rem 0
  font-size: 2rem
  text-align: center
  color: $mint
  cursor: pointer
  
  &:active
    background: #203A43
    color: $mint

.input-form
  display: flex
  flex-direction: column

.input-amount
  width: 15rem
  background: transparent
  color: $mint
  border: 1px solid $mint
  outline: none
  line-height: 2.4rem
  font-size: 2rem
  padding-left: 1rem

  &::placeholder
    color: $mint

.input-tokens
  border: 1px solid $mint
  outline: none
  background: transparent
  cursor: pointer
  color: $mint
  background: #203A43
  line-height: 2.4rem
  font-size: 2rem
  padding-left: 1rem

.submit-btn
  margin: 2rem
  display: block
  width: 20rem
  font-size: 2rem
  align-self: center